* {
    margin: 0%;
    --main-color: red;
}

body {
    background-image: url("https://picsum.photos/1000");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

#contenedor {
    width: 99vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "videoPrincipal videoPrincipal videosLateral";
}

#contenedorVideoPrincipal {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    margin-top: 12vh;
}

#videoPrincipal {
    justify-self: end;
    align-self: end;
    width: 50vw;
    height: 50vh;
    background-color: black;
}

#controles {
    align-self: start;
    justify-self: end;
    justify-self: 33%;
    background-color: var(--main-color);
    width: 50vw;
    z-index: 100;

}

.botonControles {
    display: inline-block;
    height: 25px;
    width: 25px;
}

#botonPlay {
    background-image: url("../iconos/play.svg");
    background-repeat: no-repeat;
}

#botonMute {
    background-image: url("../iconos/unmuted.svg");
    background-repeat: no-repeat;
}

#botonTiempoAtras {
    background-image: url("../iconos/atrasar.svg");
    background-repeat: no-repeat;
}

#botonTiempoAdelante {
    background-image: url("../iconos/adelantar.svg");
    background-repeat: no-repeat;
}

#botonReiniciarVideo {
    background-image: url("../iconos/reset.svg");
    background-repeat: no-repeat;
}

#botonMenosVolumen {
    background-image: url("../iconos/menosVolumen.svg");
    background-repeat: no-repeat;
}

#botonMasVolumen {
    background-image: url("../iconos/masVolumen.svg");
    background-repeat: no-repeat;
}


#videosLateral {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    height: 90vh;
    margin-left: 10vw;
    width: 22vw;
    overflow: auto;
    margin-top: 50px;
    scrollbar-color: yellow transparent;
    scrollbar-width: 10px;
    border: 7px solid black;
}

#videosLateral:first-child(){
    margin-top: 200vh;
}

.videosLaterales {
    margin-top: 5vh;
    border: 4px solid var(--main-color);
}
